<!DOCTYPE html>
<html>
<head>
    <title>Twitter Clone</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/search">Search</a>
        {% if session.get("screen_name") %}
    <span>@{{ session["screen_name"] }}</span>
    <a href="/logout">Logout</a>
    <a href="/create_message">Create Message</a>
        {% else %}
    <a href="/login">Login</a>
    <a href="/create_account">Create Account</a>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
